
<block name="header">
<!-- 用户登录状态 -->
	<div class="wrap">
		<span class="fr"> <a
			href="http://bbs.renqifu.com/forum.php?mod=forumdisplay&fid=47"
			target="_blank"> 帮助中心 </a>
		</span> <span class="fr"> <a href="http://www.renqifu.com/message">
				提醒( <strong> 21 </strong> )
		</a>
		</span> <span class="fr"> 人气符: <strong> 0 </strong> 点
		</span> <span class="fr"> 押金: <strong> 0 </strong> 元
		</span> <span class="fr"> <a
			href="http://www.renqifu.com/deposit/purchase_points"
			style="color: #00a3ef;"> 充值人气符 </a> ｜ <a
			href="http://www.renqifu.com/userinfo/member_upgrade"
			style="color: #00a3ef;"> 续费会员 </a>
		</span> <span> <a href="http://www.renqifu.com/userinfo">
				batigold1 </a> ｜ <a href="http://www.renqifu.com/userreg/logout"> 退出
		</a>
		</span>
	</div>
	<!-- 用户登录状态 -->
	
	<!-- top 开始 -->
        <div class="header">
            <div class="wrap">
                <a class="logo fl" href="#">
                    <img src="__IMG__/logo.jpg">
                </a>
                <menu class="business-menu-info fr">
                    <a href="http://www.renqifu.com/task_business/business_task">
                        我的任务
                    </a>
                    <a href="http://www.renqifu.com/task_business/business_index">
                        个人中心
                    </a>
              </menu>
                <menu class="business-menu fr">
                    <a href="#">
                        任务列表
                    </a>
                    <a href="#">
                        发布任务
                    </a>
                    <a href="#" target="_blank">
                        论坛
                    </a>
                </menu>
          </div>
    </div>
 	<!-- top 结束 -->
</block>