<extend name="base" />

<block name="title">
我的任务
</block>

<block name="page_index">
    <div class="breadcrumbs">
        <div class="wrap">
            <a href="#">
                     首页
                </a>
                &gt; 我的任务
        </div>
    </div>
</block>
  

<!-- right -->
<block name="body-right">
  <div class="business-right">
    <div class="business-right-comm">
        <div class="business-right-task-detail">
            <h2 class="business-right-task-innertitle">实时状态</h2>
            <ul class="business-tabs noc">
            </ul>
            <div class="business-tabs-content">
                  <table width="728" height="70" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
                    <tr>
                      <td width="77" align="center" valign="middle">总任务数</td>
                      <td width="77" align="center" valign="middle">成功发布任务</td>
                      <td width="77" align="center" valign="middle">总订单数</td>
                      <td width="78" align="center" valign="middle">待付款订单</td>
                      <td width="78" align="center" valign="middle">待发货订单</td>
                      <td width="78" align="center" valign="middle">待确认订单</td>
                      <td width="85" align="center" valign="middle">已确认</td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle">{$allTaskCnt}</td>
                      <td align="center" valign="middle">{$compTaskCnt}</td>
                      <td align="center" valign="middle"><a href="{:U('order_list')}">{$allListCnt}</a></td>
                      <td align="center" valign="middle"><a href="{:U('order_list?state=1')}">{$taskInfoCnt[0].dfk}</a></td>
                      <td align="center" valign="middle"><a href="{:U('order_list?state=2')}">{$taskInfoCnt[0].dfh}</a></td>
                      <td align="center" valign="middle"><a href="{:U('order_list?state=3')}">{$taskInfoCnt[0].dqr}</a></td>
                      <td align="center" valign="middle"><a href="{:U('order_list?state=4')}">{$taskInfoCnt[0].wc}</a></td>
                    </tr>
                  </table>
          </div>
        </div>
        
    </div>
    <div class="business-right-comm">
        <div class="business-right-task-detail business-right-materDetail">
            <h2 class="business-right-task-innertitle">系统公告</h2>
            <div class="business-tabs-content tasklinesheet">
                <div class="business-tabs-tasklinesheet-more">
                  <table style="margin-top: 4px; width: 100%">
                    <tbody>
                      <tr style="height:28px;">
                        <td style="color:#17baf5;"><a href="#" target="_blank" style="color:#17baf5;"> 双11期间快递可能出现爆仓、配送延迟，请商家、买手知悉 </a></td>
                        <td style="width:90px;text-align:center;">2014-11-08</td>
                      </tr>
                      <tr style="height:28px;">
                        <td style="color:#17baf5;"><a href="#" target="_blank" style="color:#17baf5;"> 双11订单本金返款的公告 </a></td>
                        <td style="width:90px;text-align:center;">2014-11-08</td>
                      </tr>
                      <tr style="height:28px;">
                        <td style="color:#17baf5;"><a href="#" target="_blank" style="color:#17baf5;"> 双11当天不限刷单数量，请买手准备好周转资金 </a></td>
                        <td style="width:90px;text-align:center;">2014-11-08</td>
                      </tr>
                      <tr style="height:28px;">
                        <td style="color:#17baf5;"><a href="#" target="_blank" style="color:#17baf5;"> 【紧急公告】：人气符官方VIP买手群整顿通知； </a></td>
                        <td style="width:90px;text-align:center;">2014-11-06</td>
                      </tr>
                      <tr style="height:28px;">
                        <td style="color:#17baf5;"><a href="#" target="_blank" style="color:#17baf5;"> TT快递、快捷快递、查询准确物流信息的官网链接 </a></td>
                        <td style="width:90px;text-align:center;">2014-11-02</td>
                      </tr>
                      <tr style="height:28px;">
                        <td style="color:#17baf5;"><a href="#" target="_blank" style="color:#17baf5;"> 请各位买手注意区分系统随机分配到的必做任务类型！ </a></td>
                        <td style="width:90px;text-align:center;">2014-10-20</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pager">
                <div class="page">
                <div>  <span class="current">1</span>&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/2">2</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/3">3</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/4">4</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/5">5</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/6">6</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/7">7</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/8">8</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/9">9</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/10">10</a>&nbsp;&nbsp;<a class="num" href="http://dpweb.juqu8.com/Task/main/p/11">11</a>&nbsp; <a class="next" href="http://dpweb.juqu8.com/Task/main/p/2">&gt;&gt;</a>  <span class="rows">共 106 条记录</span></div>                </div>
                </div>
              </div>            
            </div>
        </div>


        <i class="box-angle lt"></i>
        <i class="box-angle rt"></i>
        <i class="box-angle bl"></i>
        <i class="box-angle br"></i>
    </div>
</div>
</block>
<!-- end right -->
 

<block name="footer">
    <div class="footer">
        <div>
         
        </div>
    </div>
</block>