<extend name="base" />

<block name="title">
提现
</block>

<block name="page_index">
    <div class="breadcrumbs">
        <div class="wrap">
            <a href="#">
                     首页
                </a>
                &gt; 提现
        </div>
    </div>
</block>


<block name="body-right">
<script>
                $(document).ready(function() {
                    $(".left dl dd").mouseover(function() {
                        $(this).attr('id', 'left_list_dd');
                        $(this).siblings().attr("id", "");
                        $(this).parents().siblings("dl").children("dd").attr("id", "");
                    });
                    $(".left dl dd").mouseout(function() {
                        $(this).attr('id', '');
                    });
                    /*$(".left dl dd").click(function(){
                        $(this).attr('id','left_list_dd');
                        $(this).siblings().attr("id","");
                        $(this).parents().siblings("dl").children("dd").attr("id","");
                    })*/
                });
            </script>
            <div class="business-right">
                <div class="business-right-comm">
                    <div class="business-fund">
                        <h3>
                            提现
                        </h3>
                        <div class="business-fund-main">
                            <div class="fundformbox feeding cashbox">
                                <div class="item clearfix linetext">
                                   <table width="95%" height="35" border="0" align="center" cellpadding="1" cellspacing="1">
                                  <tbody><tr>
                                    <td align="center" bgcolor="#FFFFFF" class="title">
                                        <!--申请提现前，请先在支付宝发起收款操作！-->收款账号：418535300</td>
                                    </tr>
                                </tbody></table>
                                   <p>&nbsp;</p>

                                </div>
                                <div class="item clearfix linetext">
                                    <label class="tit">
                                        财付通信息:　
                                    </label>
                                    <div><strong>收款人：{$userAcc['user_name']}　账号：{$userAcc['acc_card']}　电话：{$userAcc['acc_phone']}</strong></div>
                                </div>
                                
                                <form name="theForm" action="{:U('Info/ti_amt')}" method="post">
                                    <input type="hidden" name="user_id" value="{$user['id']}"/>
                                    <input type="hidden" name="mid" value="{$user['mid']}"/>
                                    <input type="hidden" name="amt_zfh" value="{$userAcc['user_name']}"/>
                                    <input type="hidden" name="amt_card" value="{$userAcc['acc_card']}"/>
                                    <input type="hidden" name="amt_fee" value="3">
                                    <div class="item clearfix">
                                        <label class="tit">
                                            <i>
                                                *
                                            </i>
                                            提现金额:
                                        </label>
                                        <div class="inp">
                                            <em class="inpbox">
                                                <input type="text" class="txt" name="amt_num">
                                            </em>
                                            <strong>
                                                单次最少300元，每笔封顶2000元，内测免手续费。
                                            </strong>
                                            <span class="error">
                                                 
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item clearfix">
                                        <label class="tit"><i>* </i>提现类型： </label>
                                        <div class="inp">
                                          <p id="alert_text" style="font-size: 12px;color: red; height:50px; line-height:20px;">&nbsp;</p>
                                        </div>
                                      <span class="pcontent Ra_checkboxlist_mine">
                                      <label class="J_fdpm_show_la jjt">
                                          <input name="amt_type" class="J_accessTotal" pvalue="3" type="radio" value="0" checked>
                                          提现D币 　</label>
                                      <label class="J_fdpm_show_la jjt">
                                          <input name="amt_type" class="J_accessTotal" pvalue="6" type="radio" value="1" >
                                          提现押金</label>
                                    </span>  <br>[<strong>可用资金</strong>&nbsp;&nbsp;<span class="red">&nbsp;&nbsp;D币：<b>{$user_db['cg_amount']|floatval}</b>
                                  &nbsp;&nbsp;押金：<b>{$user_db['cg_deposit']|floatval}</b>
                                  &nbsp;&nbsp;冻结D币：<b>{$user_db['cg_dong_db']|floatval}</b>
                                  &nbsp;&nbsp;冻结押金：<b>{$user_db['cg_dong_yj']|floatval}</b></span>]</div>
                                  <div class="item clearfix">
                                      <label class="tit"> <i> * </i>财付通订单交易号: </label>
                                    <div class="inp"> <em class="inpbox">
                                        <input type="text" checkurl="true" class="txt" name="amt_code" >
                                      </em> <strong>提现的金额需与财付通收款信息一致。【<span class="J_copytextok">我要帮助</span>】 </strong>
                                      <br>
                                      <span class="code_error">
                                      </span>
                                  </div>
                                    </div>
                                    <div class="item clearfix">
                                      <label class="tit"> <i> * </i>收款理由: </label>
                                      <div class="inp">
                                        <span class="J_copytextok">
                                        <strong>
                                            {$user['mid']}-{$userAcc['user_name']}-{$userAcc['acc_phone']}
                                            <input type="hidden" name="amt_remark" value="{$user['mid']}-{$userAcc['user_name']}-{$userAcc['acc_phone']}"/>
                                        </strong>
                                        </span>
                                        <strong>  [将该文字信息复制到财付通收款的收款理由]</strong>
                                      </div>
                                    </div>
                                    
                                    <!-- <div class="item clearfix linetext">
                                    <label class="tit">提现类型:</label>
                                    <div class="inp">
                                    <em>
                                    <input 
                                    type="radio" 
                                    name="returndepositfee" 
                                    value="0.1" 
                                    checked="checked" 
                                    detail_text="预计7个工作日内（国家法定假日和双休日顺延）平台完成提现操作。"
                                    >普通提现（0.1%提现手续费）
                                    &nbsp;&nbsp;&nbsp;&nbsp;                                           
                                    <input 
                                    type="radio" 
                                    name="returndepositfee"  
                                    value="0.3"
                                    detail_text="预计2个工作日内（国家法定假日和双休日顺延）平台完成提现操作。"
                                    >快递提现（0.3%提现手续费）
                                    </em>
                                    <p id="alert_text" style="font-size: 12px;color: red;">
                                    预计7个工作日内（国家法定假日和双休日顺延）平台完成提现操作。
                                    </p>
                                    </div>
                                    </div> 
                                    <br/> -->
                                    <div class="item clearfix linetext" style="display:none;">
                                        <label class="tit">
                                      实际到账金额（费率：0%）</label>
                                        <div class="inp">
                                            <b id="returndeposit" class="red">
                                                0
                                            </b>
                                            元
                                        </div></div></form>
                                <p class="item cashbtnp">
                                    <!--disabled-->
                                    <a class="cashbtn" href="javascript:;">
                                        提交
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="business-fund-tips">
                            <h5>
                                温馨提示
                            </h5>
                            <div class="business-fund-tips-main">
                                <p>
                                    1.提现目前平台只支持财付通提现申请。
                                </p>
                                <p>
                                    2.如果您填写的提现信息不正确也可能会导致提现失败，由此产生的提现费用将不予返还。
                                </p>
                                <p>
                                    3.在国家法定假日和双休日期间，用户可以申请提现，平台会在工作日内进行处理。由此造成的不便，请多多谅解!
                                </p>
                                <p>
                                    4.平台禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。
                                </p>
                                <p>
                                    5.申请提现的资金，平台在未进行处理时显示在冻结内，请不要重复操作。
                                </p>
                            </div>
                        </div>
                    </div>
                    <i class="box-angle lt">
                    </i>
                    <i class="box-angle rt">
                    </i>
                    <i class="box-angle bl">
                    </i>
                    <i class="box-angle br">
                    </i>
                </div>
            </div>
</block>



<block name="footer">
    <div class="footer">
        <div>
         
        </div>
    </div>
</block>

<block name="ext_js">
<script type="text/javascript">

$(function(){
 
    $("input[name=amt_num]").keyup(function(){
        $(".error").html('');
        $(".acc_error").html('');

        var cg_amount = "{$user_db['cg_amount']|floatval}";
        var cg_deposit= "{$user_db['cg_deposit']|floatval}";

        var amt_num = $("input[name=amt_num]").val();
            
        var amt_code= $("input[name=amt_code]").val();

        var amt_type= $("input[name=amt_type]").val();

        amt_num = parseInt(amt_num);
       

        if(isNaN(amt_num)){
            $(".error").html('请填写正确数字');
            return false;
        }

        if(amt_num<0 || amt_num>2000){
            $(".error").html('允许300-2000范围金额');
            return false;
        }

       
        if(amt_type==0){
            if(amt_num>cg_amount){
               $(".error").html('可提现D币不足'); 
               return false;
            }
        }else{
            if(amt_num>cg_deposit){
                $(".error").html('可提现押金不足');
                return false;  
            }
        }
    });


    $(".cashbtn").click(function(){
      
        $(".error").html('');
        $(".acc_error").html('');

        var cg_amount = "{$user_db['cg_amount']|floatval}";
        var cg_deposit= "{$user_db['cg_deposit']|floatval}";

        var amt_num = $("input[name=amt_num]").val();
            
        var amt_code= $("input[name=amt_code]").val();

        var amt_type= $("input[name=amt_type]").val();

        amt_num = parseInt(amt_num);

        if(isNaN(amt_num)){
            $(".error").html('请填写正确数字');
            return false;
        }

        if(amt_num<0 || amt_num>2000){
            $(".error").html('允许300-2000范围金额');
            return false;
        }

       
        if(amt_type==0){
            if(amt_num>cg_amount){
               $(".error").html('可提现D币不足'); 
               return false;
            }
        }else{
            if(amt_num>cg_deposit){
                $(".error").html('可提现押金不足');
                return false;  
            }
        }

        if(amt_code==''){
            $(".code_error").html('<font color=red>交易号不允许为空</font>');
            return false;
        }

        theForm.submit();
    });
    

});

</script>
</block>